<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="backbtn" routerLink="/welcome" routerDirection="back">
        <img src="../../assets/back.svg" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-padding container">
    <h1>Login</h1>

    <div class="form-container"> 
      <!-- <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input></ion-input>
      </ion-item> 
       <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password"></ion-input>
        <ion-icon name="eye" slot="end"></ion-icon>
      </ion-item>  -->
       <h2> Let's get to know you better </h2>
      <!-- <ion-item >
        <ion-input type="number" placeholder="Mobile number (Ex: +91xxxxxxxxxx)"  ></ion-input>
      </ion-item>  -->
      <ion-item class="input_item">
        <ion-label>+91</ion-label>
        <ion-input #phoneNumber type="tel" placeholder="Mobile number"  maxlength="10" required></ion-input>
      </ion-item>
      <ion-item >
        <ion-input *ngIf="oset == 1" type="number" placeholder="Pls enter otp"  ></ion-input>
      </ion-item>
      <ion-button *ngIf="showCity === true" expand="block" class="main-button" (click)="otp()">Send OTP</ion-button> 
      <ion-button *ngIf="showCity === false" expand="block" class="main-button" (click)="login()">Log in</ion-button> 
       <div class="sign-up">
        Don't have an account? <ion-button color="dark" fill="clear" routerLink="/signup" routerDirection="forward">Sign up</ion-button>
      </div>
     </div>
  </div>
</ion-content>
